/* Reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #0d0d0d;
  font-family: sans-serif;
}

/* Canvas wrapper */
#editor-container {
  width: 100%;
  height: 100%;
  background: #0d0d0d;
}

/* Fabric.js canvas */
#editor-canvas {
  display: block;
  background: #2E2E2E;
}
